<form action="/comments/add/{{id}}" method="POST">
  <textarea name="comment" cols="50" rows="10"
    placeholder="Write down what you think about this delicious meal"></textarea>
  <br>
  <button type="submit">Add Comment</button>
</form>