<form action="/comments/edit/{{id}}" method="POST">
  <textarea name="comment" cols="50" rows="10"
    placeholder="Write down what you think about this delicious meal">{{comment}}</textarea>
  <br>
  <button type="submit">Edit Comment</button>
</form>