<h1>Sign Up</h1>

<form action="/signup" method="POST">
  <input type="name" name="name" placeholder="Name Surname">
  <input type="email" name="email" placeholder="name@domain.com">
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
<br><br>
<a href="/auth/facebook">Sign Up with Facebook</a>