<nav class="navbar fixed-top navbar-light bg-warning" style="margin-bottom: 50px;">
  <a class="navbar-brand" href="/profile">
    <img src="/images/LOGO120.png" width="50" height="50" class="d-inline-block align-top" alt=""
      style="position: relative; left:10px">
  </a>
</nav>

<div class="pageBody">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <h3 id="icon">Changed your mind?</h3>
        <br>
      </div>
      <form method="POST" action="/inventory/edit/{{items._id}}">
        <input type="text" id="inventoryInput" name="products" placeholder="Add a product">
        <button type="button" onclick="inventoryList()">Add Item</button>
        <ul id="inventoryList" style="list-style-type: none;">
          {{#each items}}
          {{#each this.products}}
          <li>
            <input type="text" value="{{this}}" name="products">
            <button class="btn btn-remove">Delete</button>
          </li>
          {{/each}}
          {{/each}}
        </ul>
        <button type="submit">Update Grocery List</button>
      </form>
      <br>
      <form action="/inventory/delete/{{items._id}}" method="POST">
        <a href="/inventory/delete/{{items._id}}"></a><button style="margin-bottom: 20px;">Delete All</button></a>
      </form>
      <div id="formFooter">
        <p>The heart wants what the heart wants. (Cookies. It’s always cookies.)</p>
      </div>

    </div>
  </div>
</div>