<form method="POST" action="/inventory">
  <input type="text" id="inventoryInput" name="products" placeholder="Add a product">
  <button type="button" onclick="inventoryList()">Add Item</button>
  <ul id="inventoryList"></ul>
  <button type="submit">Create Grocery List</button>
</form>