body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.profile {
  border: 1px solid black;
  margin-bottom: 3%;
}
.semiMatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.semiMatches span {
  color: gray;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 10px;
}
.semiMatches a {
  text-decoration: none;
  margin-bottom: 5px;
}
