body {
  margin: 0px;
  padding: 0px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.profile {
  border: 1px solid black;
  margin-bottom: 3%;
}

.semiMatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.semiMatches span {
  color: gray;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 10px;
}

.semiMatches a {
  text-decoration: none;
  margin-bottom: 5px;
}

#barIndex {
  background-color: blue;
  z-index: 1;
}

.pageBody {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

#profile-body.recipe-container {
  width: 60%;
}

.title-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  align-items: center;
  margin-bottom: 10px;
}

.container-in-recipe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 100px;
  position: relative;
  top: 50px;
}

.inventory-card {
  width: 18rem;
  position: relative;
  top: 200px;
  left: 20px;
  display: flex;
  align-items: center;
}

.underline {
  border: 1px solid black;
  border-radius: 5px;
}

#profileList {
  list-style-type: none;
  position: relative;
  right: 20px;
}

.inventoryButton {

  margin: 10px 0;
}

li {
  text-align: center;
}

.inventories-btn {
  margin: 10px 0px;
  font-size: 12px;
  background-color: white;
}

.welcome {
  position: relative;
  top: 105px;
  left: 20px;
}

.asked-for {
  display: flex;
  position: relative;
  left: 50px;
  top: 90px;
  width: fit-content;
}

.ingredient-result {
  position: relative;
  left: 20px;
  top: 3px;
  font-size: 19px;
  color: #F7C133;
  margin-right: 5px;
}

.result {
  text-align: center;
  position: relative;
  top: 70px;
}

.fullMatches {
  position: relative;
  top: 85px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.recipe-show {
  flex: 1 0 31%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-photo {
  width: 125px;
  height: 101px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.recipe-name {
  text-align: center;
}

.related-matches {
  position: relative;
  top: 80px;
  padding: 27px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #F7C133;
  height: 1px;
}

.classBody {
  position: relative;
  top: 100px;
  left: 50px;
}

.dishName {
  color: black;
  width: fit-content;
}

.recipe-image {
  width: 200px;
  height: 200px;
  position: relative;
  top: 52px;
  left: 50px;
}

.components {
  display: flex;
  position: relative;
  bottom: 166px;
  left: 321px;
  width: fit-content;
}

.recipe-ingredients {
  position: relative;
  top: 50px;
  right: 170px;
  list-style-type: none;
}

.instructions {
  position: relative;
  bottom: 90px;
  left: 60px;
}

.add-comment {
  position: relative;
  right: 100px;
  bottom: 40px;
}

.user-comments {
  position: relative;
}

.comment {
  border: 1px solid black;
  width: 90%;
  height: auto;
  margin: 10px 0;
}

.add-recipe {
  margin-top: 15px;
}

.inventoryList {
  height: 40%;
}

#profile-body {
  display: flex;
  justify-content: space-evenly;
}


#profile-body.inventory-container {
  width: 30%;

}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

#facebook {
  width: 120px;
  height: 100px;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}


input[type=submit],
input[type=button] {
  background-color: #f04e43;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(239, 70, 24, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
}

input[type=submit],
input[type=button]:hover {
  background-color: #ef7a72;
}

input[type=submit],
input[type=button]:active {
  transform: scale(0.95);
}


.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fadeIn.first {
  animation-delay: 0.4s;
}

.fadeIn.second {
  animation-delay: 0.6s;
}

.fadeIn.third {
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  animation-delay: 1s;
}

#icon {
  width: 60%;
  position: relative;
  left: 100px;
}